@use '@/styles/colors.module';
@use '@/styles/variables.module';
@use '@/styles/mixins.module';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: colors.$bg;
  color: colors.$text;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  padding-inline: variables.$bg-side-margin;
  max-width: 1500px;
  margin-inline: auto;
}

@include mixins.mediaQuery(md){
  .container{
    padding-inline: variables.$sm-side-margin;
  }
}
